<p>comment as <strong>e13openmic@elevate.at</strong>, we mix stream with comments on <strong>twitter</strong></p>
<form>
  <textarea name="text" style="width:100%;height: 4em;">#{{hashtag}}</textarea>
  <strong>be exelent to each other!</strong>
  <input type="submit" value="Say" style="margin-left: 20px" />
</form>
